# Directories
.vscode/
.DS_Store


# LaTeX
/*.aux
/*.log
/*.synctex.gz
/*.fls
/*.fdb_latexmk
/*.out
/*.toc
/*.lof
/*.lot
/*.gz
/*.blg
/*.bbl
/*.dvi
/*.nav
/*.snm
/*.vrb
/*.run.xml
/*.bcf
/*.xdv

/src/*.aux
/src/*.log
/src/*.synctex.gz
/src/*.fls
/src/*.fdb_latexmk
/src/*.out
/src/*.toc
/src/*.lof
/src/*.lot
/src/*.gz
/src/*.blg
/src/*.bbl
/src/*.dvi
/src/*.nav
/src/*.snm
/src/*.vrb
/src/*.run.xml
/src/*.bcf
/src/*.xdv
/src/*.pdf
